<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498246515936-aefg08hh3amukl6t5takp4da0jueqmt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498246515936-aefg08hh3amukl6t5takp4da0jueqmt0</string>
	<key>API_KEY</key>
	<string>AIzaSyAeKUM3LvDwo1UsolZj4k29RO1E4WvKhl8</string>
	<key>GCM_SENDER_ID</key>
	<string>498246515936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facialApp</string>
	<key>PROJECT_ID</key>
	<string>facialapp-8a67d</string>
	<key>STORAGE_BUCKET</key>
	<string>facialapp-8a67d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498246515936:ios:d065ea58135ebd43e0a485</string>
</dict>
</plist>